* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.container .main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0) 100%), url("../image/Rectangle 31.png");
  border-radius: 24px;
  width: 100%;
  height: 90vh;
}
.container .main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px;
}
.container .main nav .pages {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  gap: 32px;
}
.container .main nav .pages .flight {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.container .main nav .pages .stays {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.container .main nav img {
  cursor: pointer;
}
.container .main nav .regs {
  display: flex;
  align-items: center;
  gap: 32px;
}
.container .main nav .regs .login {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.container .main nav .regs .sign {
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.container .main .home {
  text-align: center;
  color: #fff;
  margin-top: 80px;
}
.container .main .home h3 {
  font-size: 45px;
  font-weight: 700;
}
.container .main .home h1 {
  font-size: 80px;
  font-weight: 700;
}
.container .main .home p {
  font-size: 20px;
  font-weight: 600;
}
.container .flight-card {
  width: 90%;
  height: 35vh;
  padding: 16px 32px;
  border-radius: 20px;
  position: absolute;
  bottom: -100px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container .flight-card .head {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}
.container .flight-card .head .flight {
  display: flex;
  gap: 4px;
}
.container .flight-card .head .stays {
  display: flex;
  gap: 4px;
}
.container .flight-card .input {
  display: flex;
  justify-content: space-between;
}
.container .flight-card .input .input-wrapper {
  position: relative;
}
.container .flight-card .input input {
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin: 10px;
  line-height: 6ex;
  text-align: center;
}
.container .flight-card .input label {
  position: absolute;
  top: 0.2ex;
  z-index: 1;
  left: 2em;
  background-color: white;
  padding: 0 5px;
}
.container .flight-card .foot {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 30px;
  gap: 20px;
}
.container .flight-card .foot p {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.container .flight-card .foot button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: var(--mint-green, #8DD3BB);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.pleace {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 180px;
  padding: 30px;
}
.pleace .head {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding: 30px;
}
.pleace .head .title h3 {
  font-size: 32px;
  font-weight: 600;
}
.pleace .head .title p {
  font-size: 16px;
  font-weight: 400;
}
.pleace .head button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--mint-green, #8DD3BB);
  background: transparent;
}
.pleace .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 32px;
}
.pleace .cards .card {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 390px;
  height: 122px;
  background: #fff;
  border-radius: 16px;
  background: var(--neutrals, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  padding: 8px 16px;
  line-height: 1.5;
  cursor: pointer;
}
.pleace .cards .card h5 {
  font-size: 16px;
  font-weight: 600;
  color: #112211;
  opacity: 0.7;
}
.pleace .cards .card p {
  font-size: 14px;
  font-weight: 500;
}
.pleace .cards .card img {
  width: 90px;
  height: 90px;
}

.carts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  height: 100vh;
  margin-top: 200px;
}
.carts .cart {
  position: relative;
  width: 604px;
  height: 559px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 100px;
}
.carts .cart h3 {
  font-size: 40px;
}
.carts .cart p {
  font-size: 16px;
}
.carts .cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  gap: 4px;
  font-size: 14px;
  background: var(--mint-green, #8DD3BB);
  margin: 0;
  position: absolute;
  top: 85%;
  left: 37%;
}
.carts .cart-1 {
  border-radius: 20px;
  background: url(../image/Rectangle\ 40.png), lightgray -1.02px 0px/123.536% 100% no-repeat;
}
.carts .cart-2 {
  border-radius: 20px;
  background: url(../image/Rectangle\ 41.png), lightgray 0px -164.802px/100% 140.001% no-repeat;
}

.review {
  padding: 30px;
  width: 100%;
  height: 100vh;
}
.review h3 {
  font-size: 32px;
  margin-bottom: 16px;
}
.review p {
  font-size: 16px;
}
.review .sliders {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.review .sliders .slider {
  background: #fff;
  width: 425px;
  height: 584px;
  padding: 24px;
  border-radius: 20px;
  background: var(--neutrals, #FFF);
  box-shadow: 20px 20px 0px 0px rgba(141, 211, 187, 0.4), 2px 4px 16px 0px rgba(17, 34, 17, 0.1);
  border-radius: 20px;
}
.review .sliders .slider h3 {
  font-size: 24px;
  margin-bottom: 16px;
}
.review .sliders .slider p {
  font-size: 14px;
}
.review .sliders .slider .view {
  font-size: 14px;
  margin-top: 12px;
  text-align: right;
}
.review .sliders .slider .stars {
  color: #FFC107;
}
.review .sliders .slider .name {
  font-size: 14px;
  margin-top: 20px;
}
.review .sliders .slider .google {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 12px;
}
.review .sliders .slider .google img {
  width: 24px;
  height: 24px;
}
.review .sliders .slider img {
  margin-top: 25px;
}/*# sourceMappingURL=style.css.map */